<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Login</title>
  <script
          src="https://code.jquery.com/jquery-3.2.1.min.js"
          integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
          crossorigin="anonymous"></script>
  <script src="http://malsup.github.com/jquery.form.js"></script>
</head>

<body>
  <form name="loginForm" (submit)="onSubmit()" #loginForm="ngForm" enctype="multipart/form-data">
    Email: <input name="user" [(ngModel)]="name" #userField="ngModel" type="email" value="webforening@gmail.com"/><br>
    Password: <input name="password" [(ngModel)]="password" #passwordField="ngModel" type="password" value="examensarbete"/>
    <button>Log in</button>
  </form>
</body>
</html>