<div class="container">

<header>
   <h1>{{title}}</h1>
   <div *ngIf="(isLogin())">
   <button (click)="onClick()">LogOut</button>
   </div>
</header>

<div>  
<nav>
  <ul>
    <li><a href="/">Hem</a></li> 
    <li><a href="/posts">posts</a></li>
    <li><a href="/links">links</a></li>
    <li><a href="/editposts">Edit posts</a></li>
    <li><a href="/editlinks">Edit links</a></li>
   
  </ul>
</nav>
</div>
 

<div class="content">
<router-outlet></router-outlet>
</div>

<footer>Copyright &copy; Lisa &#38; Melker Co.</footer>

</div>




<!-- -->
