<form (submit)="onSubmit()" #linkForm="ngForm">
    <div>
        <label for="url">Url</label>
        <input type="text" name="url" [(ngModel)]="url" 
               required minlength="5" #urlField="ngModel"
               [ngStyle]="{ 'outline-color': urlField.dirty && urlField.valid ? 'green' : undefined }"/>
        <!-- [(ngModel)]="<name on property on the components code. >" ngModel directive is used to two way data binding -->
        <div class="alert alert-danger" *ngIf="(loginForm.submitted || urlField.touched) && urlField.errors">
        <div [hidden]="!urlField.errors.required">url is required!</div>
        <div [hidden]="!urlField.errors.minlength">Url is atleast 5 caracters long!</div>
        </div>    
    </div>
    <div>
        <label for="name">Name</label>
        <input type="text" name="name" [(ngModel)]="name" 
               required minlength="3" #nameField="ngModel"
               [ngStyle]="{ 'outline-color': nameField.dirty && nameField.valid ? 'green' : undefined }"/>
        <div class="alert alert-danger"*ngIf="(loginForm.submitted || nameField.touched) && nameField.errors">
        <div [hidden]="!nameField.errors.required">name is required!</div>
        <div [hidden]="!nameField.errors.minlength">The name need to be atleast 3 caracters long!</div>
        </div>  
    </div>
    <div>
        <button>Add</button>
    </div>
</form>