
<p>This is the landingpage</p>


<div class="container">

<header>
   <h1>{{title}}</h1>
   <div>
     <app-loggin></app-loggin>
   </div>
</header>
  
<nav>
  <ul>
    <li><a href="#">grej</a></li>
    <li><a href="#">moj</a></li>
    <li><a href="#">sak</a></li>
  </ul>
</nav>

<article>
  <h1>Välkommen till Skyffladyngemålas Bostadsrättsförening</h1>
  <p>Skyffladyngemåla är Smålands huvudstad. Här bor det fläst människor i Sverige, med förorterna blir det över 13 millioner innevånare.</p>
  <p>Beläget vid Mörrumsån, har Skyffladyngemåla varit en stor boplatts igenom två millenium, dess historia går tillbaka tills dess att den grundades av Rommarna, som namgav staden till Skyffladynginium.</p>
</article>

<footer>Copyright &copy; Lisa &#38; Melker Co.</footer>

</div>